/* Footer */
footer {
    background-color: #ffcc00;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 4px black;
    margin-top: 1rem;
}

footer p {
    margin: 0.5rem;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin: 5px 0;
}

footer ul li a {
    text-decoration: none;
    color: black;
}

footer ul li a:hover {
    color: red;
}

footer ::first-letter {
    color: red;
    font-size: 2rem;
  }