/* Inputs */
.loginform {
    margin-left: 1rem;
}

.input-identifiant-connexion, .input-mdp-connexion {
    display: block;
    width: 30%;
    padding: 10px;
    border: 1px solid #ffcc00;
    border-radius: 4px;
}

.input-se-connecter {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px;
}

.input-se-connecter:hover {
    background-color: red;
}
@media (max-width: 768px) {
    .input-identifiant-connexion, .input-mdp-connexion {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .input-identifiant-connexion, .input-mdp-connexion {
        width: 90%;
    }
}
